* {
    box-sizing: border-box;
}

header {
    width: 50%;
    float: left;
    background-color: maroon;
    color: bisque;
}
 header h1 {
     text-align: center;
     margin: 0px;
     line-height: 4rem;
 }

/*
nav -> ul -> li -> a
*/
nav {
    width: 50%;
    float: left;
    background-color: maroon;
    color: bisque;
    border-right: maroon 1px solid;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0; 
    height: 4rem; 
    overflow: auto;
}

nav li {
    display: block;
    float: left;
    width: 18%;
}

nav li:not(:last-child) {
    margin-right: 2.5%;
}

nav a {
    display: inline-block;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.4rem;
    color: inherit;
    background-color: bisque;
    color: maroon;
    text-decoration: none;
    text-align: center;
    border: solid silver 1px;
    border-radius: 1rem;
}

div.clearfix {
    clear: both;
}

div.wrapper {
    margin-left: 3rem;
    margin-top: 2rem; 
}

section.sombras h2 {
    text-shadow: 0.2rem 0.2rem 0.2rem gray;
}
section.sombras div {
    width: 10rem;
    height: 10rem;
    border: 1px solid;
    box-shadow: 1rem 1rem 1rem 0.5rem silver;
    border-radius: 50%;
}

section.sombras img {
    width: 30%;
    border-radius: 50%;
    box-shadow: 1rem 1rem 1rem 0.5rem silver;
}
