* {
    box-sizing: border-box
}
body {
    margin: 2rem;
}
h1 {
    background-color: bisque;
}

.ingles {
    background-color: darkorange
}

section div.wrapper {
    background-color: bisque;
    overflow: auto;
}
section div.wrapper div {
    float: left;
}

section div.text-wrapper {
    width: 70%;
    padding: 2rem;
    
}

section div.img-wrapper {
    width: 25%;
    padding: 2rem;
    /* display: none; */
    visibility: hidden;
}

section div.wrapper:hover div.img-wrapper {
    /* display: block; */
    visibility: visible;
    color: rgb(248, 221, 187)
}

section div.img-wrapper img {
    width: 100%;
    max-width: 100%;
    color: rgb(41, 177, 154)
}